.layout__wrapper {
  position: relative;
  background-color: white;
}

header {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;

  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    span {
      color: #ee6352;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  nav {
    a {
      text-decoration: none;
      color: #ee6352;
      margin: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .loggedin__container {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #ee6352;
      margin-right: 1rem;
    }
  }
}

.outlet__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #333;
  color: #ee6352;
  width: 100%;
  padding: 1rem;
  .footer__container-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    .footer__container-contact {
      width: 4rem;
    }
  }

  .copyright {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// https: ; //www.youtube.com/watch?v=ceNMP-aQkQ4 kevin powell animations
